<!--====== Header ======-->
<header>
    <div id="tituloContainer">

        <img src="../assets/pokeball azul.svg" alt="">
        <h1>Pokédex</h1>
        <img src="../assets/pokeball azul.svg" alt="">

    </div>

    <a href="">Ver proyecto</a>

</header>

<!--====== Contenido ======-->
<router-outlet></router-outlet>

<!--====== Footer ======-->
<footer>

    <p><kbd>A</kbd>Development by <a href="https://www.linkedin.com/in/luis-ron-9477a3259/" target="_blank"> Luis Ron</a>
    </p>
    <p><kbd>X</kbd><a href="#" target="_blank">¿Cómo lo hice?</a></p>

</footer>